{% extends "base.html" %}
{% load static %}

{% block title %}Каталог книг{% endblock %}
{% block content %}
    <div class="container">
        <div class="header">
            <h1><a href="/books">Каталог</a></h1>
        </div>
        <div class="row">
            {% for book in books %}
                <div class="book col-md-4">
                    <h2>{{ book.name }}</h2>
                    <p>Автор: {{ book.author }}</p>
                    <p>Дата публикации: {{ book.pub_date|date:'Y-m-d' }}</p>
                </div>
            {% endfor %}
        </div>
        {% if prev_book %}
            <a href="/books/{{ prev_book.pub_date|date:'Y-m-d' }}">< {{ prev_book.pub_date|date:'Y-m-d' }}</a>
        {% endif %}
        {% if next_book %}
            <a href="/books/{{ next_book.pub_date|date:'Y-m-d' }}">{{ next_book.pub_date|date:'Y-m-d' }} ></a>
        {% endif %}
    </div>
{% endblock %}