<!DOCTYPE html>{% load static %}
<html>
  <head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
      <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="{% static "css/bootstrap.css" %}"  media="screen,projection"/>
    <link type="text/css" rel="stylesheet" href="{% static "css/style.css" %}"  media="screen,projection"/>

    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  </head>

  <body>
    {% block content %}
       <div class="phone" style="display: inline-block; width: 500px; margin-bottom: 30px; margin-top: 30px;">
          <div>
              <h1><a href="/catalog/{{ phone.slug }}">{{ phone.name }}</a></h1>
          </div>

          <div class="price">
              <h5 class="price">Стоимость: {{ phone.price }} руб.</h5>
          </div>

           <img style="width: 200px" src="{{ phone.image }}" alt="{{ phone.slug }}-img">
        </div>
    {% endblock %}

    <!--JavaScript at end of body for optimized loading-->
    <script type="text/javascript" src="{% static "js/bootstrap.js" %}"></script>
  </body>
</html>